    <th scope="row">
      <%= @employee.service_number %>
    </th>

    <td>
      <%= @employee.name %>
    </td>

    <td class="text-right">
      <%= link_to image_tag('edit_icon.png', class: 'icon'), edit_employee_path(@employee), id: ("edit_employee_link_#{@employee.id}"), "data-link-id" => "employee-#{@employee.id}", remote: true %>
      <%= link_to image_tag('delete_icon.png', class: 'icon'), @employee, method: :delete %>
    </td>
