<div class="schedule-wrapper">
  <div class="schedule-menu">
    <div class="schedule-menu-header">
      <strong>ГРАФИКИ</strong>
    </div>
    <% @schedules.each do |schedule| %>
      <div class="schedule-menu-element">
        <%= link_to schedule.date.strftime("%m.%Y"), schedule, id: "show-schedule-link-#{schedule.id}", remote: true %>
      </div>
    <% end %>
  </div>
  <div class="schedule-area" data-block-id="schedule-area">
    <p>123</p>

  </div>
</div>



