// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schedule-wrapper {
  display: flex;
  flex-grow: 1;
}

.schedule-menu {
  flex: 0 0 10%;
  display: flex;
  flex-flow: column nowrap;
  background-color: #dc112e;
  box-shadow: inset 0 0 15px 4px #FF6177,
              0 0 4px 1px #FF6177;
}

.schedule-menu-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 10px;
}

.schedule-menu-element {
  display: flex;
  justify-content: center;
  height: 20px;
  margin-bottom: 1px;
}

.schedule-area {
  flex: 0 0 90%;
  padding: 10px;
}

#new-schedule-link {
  margin-top: 10px;
}

.schedule-table {
  font-size: 0.7em;
}

.schedule-table tr td {
  border: 1px solid black;
}

.day-input-field {
  width: 30px;
  border: none;
  margin: 0;

}
