<%= form_with model: @section, local: true do |f| %>
  <h3 class="float-left"><%= f.label @section.title %></h3>
  <%= link_to 'Редактировать', edit_global_section_path(@section), id: ("edit_global_section_#{@section.id}"), remote: true %>
  <%= link_to 'удалить', @section, method: :delete, data: {confirm: 'Удалить?'} %>
<% end %>
